# Types of objects in Python

In [3]:
# Integer
11

11

In [5]:
# Float
2.14

2.14

In [4]:
# String
'Hello World'

'Hello World'

### Type() Function

You can get Python to tell you the type of an expression by using the built-in type() function.

In [6]:
# Type of 12

type(12)

int

In [7]:
# Type of 2.14

type(2.14)

float

In [8]:
# Type of "Hello, Python 101!"

type("Hello, Python 101!")

str

### Floats

You can get extra information about the float type using sys

In [9]:
# System settings about float type
import sys
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

### Converting from one object type to a different object type

In [10]:
# Verify that this is an integer
type(2)

int

In [11]:
# Convert 2 to a float
float(2)

2.0

In [13]:
# Convert integer 2 to a float and check its type
type(float(2))

float

In [14]:
# Casting 1.1 to integer will result in loss of information

int(1.1)

1

##### Converting from strings to integers or floatsÂ¶

In [15]:
# Convert a string into an integer
int('1')

1

In [16]:
# Convert a string into an integer with error
int('1 or 2 people')

ValueError: invalid literal for int() with base 10: '1 or 2 people'

In [17]:
# Convert the string "1.2" into a float
float('1.2')

1.2

##### Converting numbers to strings

In [18]:
# Convert an integer to a string
str(1)

'1'

In [19]:
# Convert a float to a string
str(1.2)

'1.2'

### Boolean data type

The Boolean data type can take on one of two values: *True* or *False*

In [20]:
# Value true
True

True

In [21]:
type(False)

bool

In [24]:
# Convert True to int
int(True)

1

In [25]:
# Convert 0 to boolean
bool(0)

False

In [27]:
# Convert boolean to float
float(False)

0.0